@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');


/* Colors */

.bg-color-name-title {
    background-color: #fcaa67ff;
}

.ui-menu-color-home {
    background-color: #b9ffb7ff;
}

.ui-menu-color-resume {
    background-color: #38aeccff;
}

.ui-menu-color-contact {
    background-color: #b9ffb7ff;
}

.ui-menu-color-download {
    background-color: #38aeccff;
}


/* Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/shell1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Space Mono", sans-serif;
    font-size: 46px;
    color: #393e41ff;
    margin-top: 50px;

}

.title {
    font-family: "Space Mono", sans-serif;    
    font-size: 28px;
    color: #393e41ff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}