@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&family=Ysabeau:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap');
/* font-family: 'Tangerine', cursive;
font-family: 'Ysabeau', sans-serif; */


body {
    font-family: 'Ysabeau', sans-serif;
}


/* Colors */

/* .bg-color-name-title {
    background-color: #fcaa67ff;
} */

.bg-color-shop-info {
    background-color: #f4f4f4;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.bg-color-products {
    background-color: #fcaa67ff;
}

.bg-color-contact {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #58c5a3;
}

.ui-menu-color-products {
    background-color: #fcaa67ff;
}

.ui-menu-color-contact {
    background-color: #38aeccff;
}

.ui-menu-color-download {
    background-color: #393e41ff;
}


/* Spacial paddings/margins/texts */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Space Mono", sans-serif;
    font-weight: 400;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.product-heading,
.section-heading {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 40px;
}
 .collection-heading {
    margin-top: 20px;
    margin-bottom: 10px;    
 }


/* Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/shell1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 360px; */
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: Tangerine, sans-serif;
    font-weight: 700;
    font-size: 96px;
    color: #393e41ff;
    margin-top: 50px;
}

.title {
    font-family: Tangerine, sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #393e41ff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    height: 120px;
    text-decoration: none;
    color: #fafafa;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}


/* Hover.css */

.hvr-sweep-to-bottom:before {
    /* background: rgba(0, 0, 0, 0.2); */
    background: url(../images/wave2.jpg);
    opacity: .9;
    height: 120px;
}


/* Footer */

footer {
    background-color: #393e41ff;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz- transition: all 0.35s ease-in-out;
    -webkit- transition: all 0.35s ease-in-out;
    -o- transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #58c5a3;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #58c5a3;
    transition: all 0.35s ease-in-out;
    -moz- transition: all 0.35s ease-in-out;
    -webkit- transition: all 0.35s ease-in-out;
    -o- transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    /* background: #393e41ff; */
    color: #393e41ff;
}

#footer-details {
    padding: 20px;
}


/* Three reasons section  */

.three-reasons-icon {
    font-size: 26px;
    color: #58c5a3;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* Shop info */

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}


/* Collections */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, .2);
}

.progress-section {
    margin: 40px 20px;
}


/* Producs section  */

.product-heading {
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    margin: 0;
    padding: 0;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 2em;
    display: block;
    font-weight: 700;
    /* font-size: 0.8em; */
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #393e41ff;
}

.products-items {
    margin: 30px;
}

.div-line {
    
    background: #fcaa67ff;    
    height: 1px;
    width: 40%;
    margin-left: 0;
}


/* Contact form  */

.contact-heading {
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 100;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fafafa;
    background-color: #38aeccff;
    border-color: #38aeccff;
}


/* Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .thumbnail {
        margin-bottom: 40px;
    }
}